<%= form_with model: task, data: { controller: :forms, action: 'turbo:submit-end->forms#resetFields' }  do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, required: true, data: { forms_target: :textField } %>
  </div>

  <div>
    <%= form.label :description, 'Description (Optional)', style: "display: block" %>
    <%= form.text_field :description, data: { forms_target: :textField } %>
  </div>

  <% if task.persisted? %>
    <div>
      <%= form.label :completed, style: "display: block" %>
      <%= form.check_box :completed %>
    </div>
  <% end %>

  <div>
    <%= link_to "Cancel", task_path(task) if task.persisted? %>
    <%= form.submit %>
  </div>
<% end %>
